In [3]:
import pandas as pd

In [7]:
po_data = pd.read_csv(r'data\phs_2019\phs_2019_playoffs.csv')
map_data = pd.read_csv(r'data\match_map_stats.csv')

In [10]:
# po_data.info()
po_data['match_id'].nunique()

18

In [3]:
data = po_data.merge(map_data, on = 'match_id')

In [6]:
data.columns

Index(['start_time', 'match_id', 'stage_x', 'map_type', 'map_name_x', 'player',
       'team', 'stat_name', 'hero', 'stat_amount', 'round_start_time',
       'round_end_time', 'stage_y', 'game_number', 'match_winner',
       'map_winner', 'map_loser', 'map_name_y', 'map_round',
       'winning_team_final_map_score', 'losing_team_final_map_score',
       'control_round_name', 'attacker', 'defender', 'team_one_name',
       'team_two_name', 'attacker_payload_distance',
       'defender_payload_distance', 'attacker_time_banked',
       'defender_time_banked', 'attacker_control_perecent',
       'defender_control_perecent', 'attacker_round_end_score',
       'defender_round_end_score'],
      dtype='object')

In [7]:
data['match_winner'].head()

0    Guangzhou Charge
1    Guangzhou Charge
2    Guangzhou Charge
3    Guangzhou Charge
4    Guangzhou Charge
Name: match_winner, dtype: object

In [7]:
char_base_df = data[['start_time', 'hero', 'stat_name', 'stat_amount', 'team', 'map_winner', 'map_loser']]
char_base_df.head()

,start_time,hero,stat_name,stat_amount,team,map_winner,map_loser
0,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
1,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
2,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
3,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
4,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters

In [58]:
char_base_df['map_winner'].value_counts()

San Francisco Shock       316630
New York Excelsior        203575
Vancouver Titans          170438
Shanghai Dragons          168567
Hangzhou Spark            165564
London Spitfire           118131
Los Angeles Gladiators     98844
Seoul Dynasty              97898
draw                       96733
Atlanta Reign              91670
Guangzhou Charge           66138
Philadelphia Fusion        43062
Chengdu Hunters            23640
Name: map_winner, dtype: int64

In [8]:
char_base_df['winner'] = (char_base_df['team'] == char_base_df['map_winner'])

c:\users\pefle\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
char_base_df['w-l'] = char_base_df['winner']

c:\users\pefle\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
char_base_df['w-l'] = char_base_df['w-l'].map({False : -1, True : 1})

c:\users\pefle\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
char_base_df.head()

,start_time,hero,stat_name,stat_amount,team,map_winner,map_loser,winner,w-l
0,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
1,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
2,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
3,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
4,8/31/2019 1:09,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1

In [12]:
base_df = char_base_df.copy()

In [67]:
base_df.head()

,hero,stat_name,stat_amount,team,map_winner,map_loser,winner,w-l
0,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
1,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
2,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
3,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
4,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1

In [68]:
base_df['winner'].value_counts()

False    876654
True     784237
Name: winner, dtype: int64

In [13]:
base_df.loc[base_df['map_winner'] == 'draw', 'w-l'] = 0

In [14]:
base_df['w-l'].value_counts()

 1    784237
-1    779920
 0     96733
Name: w-l, dtype: int64