In [3]:
import pandas as pd

In [4]:
po_data = pd.read_csv(r'data\phs_2019\phs_2019_playoffs.csv')
map_data = pd.read_csv(r'data\match_map_stats.csv')

In [5]:
data = po_data.merge(map_data, on = 'match_id')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1660890 entries, 0 to 1660889
Data columns (total 34 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   start_time                    1660890 non-null  object
 1   match_id                      1660890 non-null  int64
 2   stage_x                       1660890 non-null  object
 3   map_type                      1660890 non-null  object
 4   map_name_x                    1660890 non-null  object
 5   player                        1660890 non-null  object
 6   team                          1660890 non-null  object
 7   stat_name                     1660890 non-null  object
 8   hero                          1660890 non-null  object
 9   stat_amount                   1660890 non-null  float64
 10  round_start_time              1660890 non-null  object
 11  round_end_time                1660890 non-null  object
 12  stage_y                       1660890 non-null  object
 13  game_number                   1660890 non-null  int64
 14  match_winner                  1660890 non-null  object
 15  map_winner                    1660890 non-null  object
 16  map_loser                     1660890 non-null  object
 17  map_name_y                    1660890 non-null  object
 18  map_round                     1660890 non-null  int64
 19  winning_team_final_map_score  1660890 non-null  int64
 20  losing_team_final_map_score   1660890 non-null  int64
 21  control_round_name            487484 non-null   object
 22  attacker                      1660890 non-null  object
 23  defender                      1660890 non-null  object
 24  team_one_name                 1660890 non-null  object
 25  team_two_name                 1660890 non-null  object
 26  attacker_payload_distance     1660890 non-null  float64
 27  defender_payload_distance     1660890 non-null  float64
 28  attacker_time_banked          1660890 non-null  float64
 29  defender_time_banked          1660890 non-null  float64
 30  attacker_control_perecent     487484 non-null   float64
 31  defender_control_perecent     487484 non-null   float64
 32  attacker_round_end_score      1660890 non-null  int64
 33  defender_round_end_score      1660890 non-null  int64
dtypes: float64(7), int64(7), object(20)
memory usage: 443.5+ MB

In [7]:
data['match_winner'].head()

0    Guangzhou Charge
1    Guangzhou Charge
2    Guangzhou Charge
3    Guangzhou Charge
4    Guangzhou Charge
Name: match_winner, dtype: object

In [28]:
char_base_df = data[['hero', 'stat_name', 'stat_amount', 'team', 'map_winner', 'map_loser']]
char_base_df.head()

,hero,stat_name,stat_amount,team,map_winner,map_loser
0,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
1,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
2,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
3,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters
4,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters

In [58]:
char_base_df['map_winner'].value_counts()

San Francisco Shock       316630
New York Excelsior        203575
Vancouver Titans          170438
Shanghai Dragons          168567
Hangzhou Spark            165564
London Spitfire           118131
Los Angeles Gladiators     98844
Seoul Dynasty              97898
draw                       96733
Atlanta Reign              91670
Guangzhou Charge           66138
Philadelphia Fusion        43062
Chengdu Hunters            23640
Name: map_winner, dtype: int64

In [34]:
char_base_df['winner'] = (char_base_df['team'] == char_base_df['map_winner'])

c:\users\pefle\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
char_base_df['w-l'] = char_base_df['winner']

c:\users\pefle\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
char_base_df['w-l'] = char_base_df['w-l'].map({False : -1, True : 1})

c:\users\pefle\.venvs\lewagon\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
char_base_df.head()

,hero,stat_name,stat_amount,team,map_winner,map_loser,winner,w-l
0,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
1,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
2,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
3,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
4,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1

In [66]:
base_df = char_base_df.copy()

In [67]:
base_df.head()

,hero,stat_name,stat_amount,team,map_winner,map_loser,winner,w-l
0,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
1,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
2,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
3,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1
4,All Heroes,All Damage Done,19059.67027,Chengdu Hunters,Guangzhou Charge,Chengdu Hunters,False,-1

In [68]:
base_df['winner'].value_counts()

False    876654
True     784237
Name: winner, dtype: int64

In [95]:
base_df.loc[base_df['map_winner'] == 'draw', 'w-l'] = 0

In [96]:
base_df['w-l'].value_counts()

 1    784237
-1    779921
 0     96733
Name: w-l, dtype: int64